* { box-sizing: border-box;
}
.header-top {
  height: 14rem;
  background-color: #2C9AB7;
}
.header-text {
  color: white;
  position: relative;
  top: 4rem;
  left: 6rem;
}
#tagline {
  font-style: italic;
  font-size: 1.5rem;
}
nav {
  height: 5rem;
  background-color: #EBEBEB;
  font-size: 1.5rem;
  color: #393939;
  position:static;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: absolute;
  left: 4rem;
}
nav li {
  float: left;
  display: block;
  padding-top: 1.75rem;
  padding-right: 1rem;
}
nav a {
  padding: 1rem;
  margin: .5rem;
}
nav a:link, a:visited {
  color: #393939;
  text-decoration: none;
}
nav a:hover {
  color: #217187;
  text-decoration: underline;
}
.this-page {
  border-top: 1px solid black;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.25rem;
}
body {
  font-family: Helvetica, sans-serif;
  color: #393939;
  line-height: 2rem;
}
article {
  padding-bottom: 1rem;
}
.testimonial {
  font-size: 1.5rem;
  color: #217187;
  font-style: italic;
}
.customer-review h3 {
  color: #217187;
}
.clearfix a {
  color: #217187;
  text-decoration: underline;
}
.clearfix a:hover {
  color: #217187;
  text-decoration: none;
}
.clearfix {
  padding-top: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.cat-news {
  float: right;
  padding-left: 3rem;
  width: 35%;
  padding-bottom: 2rem;
}
footer {
  background-color: #393939;
  height: 18rem;
  color: white;
  text-align: center;
  clear: both;
}
.footer-content {
  position: relative;
  top: 1.75rem;
  line-height: 1.5rem;
}

/* a11y features */
.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

.hidden:focus {
  left: 0;
}

.sr-only {
  position: relative;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
