* { box-sizing: border-box;
}
.header-top {
  height: 14rem;
  background-color: #2C9AB7;
  color: white;
}
.header-text {
  position: relative;
  top: 4rem;
  left: 6rem;
}
nav {
  height: 5rem;
  background-color: #EBEBEB;
  font-size: 1.5rem;
  color: #393939;
  position:static;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: absolute;
  left: 4rem;
}
nav li {
  float: left;
  display: block;
  padding-top: 1.75rem;
  padding-right: 1rem;
}
nav a {
  padding-right: .5rem;
}
nav a:link, a:visited {
  color: #393939;
  text-decoration: none;
}
nav a:hover {
  color: #217187;
  text-decoration: underline;
}
.clearfix a {
  color: #217187;
  text-decoration: underline;
}
.clearfix a:hover {
  color: #217187;
  text-decoration: none;
}
.clearfix {
  padding-top: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.cat-news {
  float: right;
  padding-left: 2rem;
  width: 35%;
}
footer {
  background-color: #393939;
  color: white;
  text-align: center;
  clear: both;
}
